
<%= link_to("<< Back to Pages", sections_path(:page_id => @page.id), :class => 'back-link') %>

<div class="sections delete">
  <h2>Delete Section</h2>
  <!-- Can leave the url out, but MUST specify action (delete in this case) -->
  <%= form_for(@section, :ul => section_path(@section, :page_id => @section.page_id), :method => 'delete') do |f| %>

    <p> Are you SURE you want to permanently delete this section?</p>

    <p class="reference-name>"><strong><%= f.object.name %></strong></p>

    <div class="form-buttons">
      <%= f.submit("Delete Section") %>
    </div>

  <% end %>
</div>
<p><i>Find me in app/views/sections/delete.html.erb</i></p>
