<% @page_title ="Delete Admin User" %>

<%= link_to("<< Back to List", admin_user_index_path, :class => 'back-link') %>

<div class="adminusers delete">
  <h2>Delete Admin User</h2>
  <!-- Can leave the url out, but MUST specify action (delete in this case) -->
  <%= form_for(@adminuser, :method => 'delete') do |f| %>

    <p> Are you SURE you want to permanently delete this Admin User?</p>

    <p class="reference-name>"><strong><%= f.object.name %></strong></p>

    <div class="form-buttons">
      <%= f.submit("Delete User") %>
    </div>

  <% end %>
